Cython==0.27.3
joblib==0.11
tqdm==4.19.4
scikit-learn==0.19.2
pandas==0.22.0
bhtsne==0.1.9
Keras==2.1.0
seaborn==0.8.1
requests>=2.20.0
networkx==1.11
hyperopt==0.1
jupyterlab==0.32.1
setuptools==39.2.0
shap==0.21.0
wolpert==0.1b2
catboost==0.9.1.1
dask[complete]==0.18.2
altair==2.2.2
bokeh==0.13.0
jupyternotify==0.1.15
pyarrow==0.11.0
fastparquet==0.1.6
spacy==2.0.16
textract==1.6.1
